
.header-menu__nav{
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    min-height: 80px;
    height: 100%;

}


@media screen  and (min-width: 760px) and (max-width: 1023px){
    .header-menu__nav{
    }
}

@media screen and (max-width: 759px){
    .header-menu__nav{

    }
}
