
.header-menu__nav{
    position: relative;
    border: blue solid 1px;
    list-style-type: none;
    margin-right: 104px;
    display: flex;
    min-height: 80px;
}


@media screen  and (min-width: 760px) and (max-width: 1023px){
    .header-menu__nav{
        margin-right: 40px;
        min-height: 63px;
    }
}

@media screen  and (min-width: 320px) and (max-width: 759px){
    .header-menu__nav{
        display: none;
    }
}
