.results-card__icondelete{
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../images/trashdelcard.svg");
    background-color: #fff;
    width: 40px;
    height: 40px;
    z-index: 2;
    right: 24px;
    top: 24px;
    border-radius: 8px;

}


.results-card__icondelete:hover{
    cursor: pointer;
    background-image: url("../../../images/trash.svg");
}

@media screen  and (min-width: 760px) and (max-width: 1023px){
    .results-card__icondelete{
        right: 8px;
        top: 8px;
    }
}

@media screen and (max-width: 759px){
    .results-card__icondelete{
        right: 16px;
        top: 16px;
    }

}
