.results-card__source{

    font-family: Roboto Slab, Inter,sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.4000000059604645px;
    text-decoration: none;
    color: #B6BCBF;
    margin-right: 0px;
    z-index: 1;
    padding-left: 24px;

}


@media screen  and (min-width: 760px) and (max-width: 1023px){
    .results-card__source{
    }
}
