
@import url('./__nav/header-menu__nav.css');
@import url('./__link/header-menu__link.css');
@import url('./__button/header-menu__button.css');
@import url('./__nav-mobile/header-menu__nav-mobile.css');
@import url('./__nav-mobile/_open/header-menu__nav-mobile_open.css');
@import url('__nav-mobile/__nav-mobile-toggle-button/header-menu__nav-mobile-toggle-button.css');
@import url('./__link/_mobile/header-menu__link_mobile.css');
@import url('./__article/header-menu__article.css');
@import url('./__button/_mobile/header-menu__button_mobile.css');
@import url('./__nav-mobile/__nav-mobile-content/header-menu__nav-mobile-content.css');
@import url('./__link/_black/header-menu__link_black.css');

.header-menu{
    position: relative;
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


@media screen  and (min-width: 760px) and (max-width: 1023px) {
    .header-menu {
        min-height: 66px;
    }
}

@media screen and (max-width: 759px){
    .header-menu{
        min-height: 56px;
    }
}
