@import url("./_save/results-card__flag_save.css");

.results-card__flag{
    position: absolute;
    background-image: url("../../../images/rectangle.png");
    right: 24px;
    top: 24px;
    background-color: #fff;
    border-radius: 8px;
    width: 14px;
    height: 19px;
    padding: 11px 13px 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.results-card__flag:hover{
    cursor: pointer;
    background-image: url("../../../images/save.svg");

}


@media screen  and (min-width: 760px) and (max-width: 1023px){
    .results-card__flag{
        right: 8px;
        top: 8px;
    }
}

@media screen and (max-width: 759px){
    .results-card__flag{
        right: 16px;
        top: 16px;
    }

}
