.search__form{
    display: flex;
    margin-bottom: -40px;

}


@media screen  and (min-width: 300px) and (max-width: 400px){
    .search__form{
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 759px){
    .search__form{
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: -125px;
    }
}
