.search__button {
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    min-width: 168px;
    min-height: 64px;
    border: #318b29 solid 1px;
    z-index: 2;
    font-family: Roboto, Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.search__button:hover {
    background: #347EFF;
    cursor: pointer;
}


@media screen  and (min-width: 300px) and (max-width: 759px) {
    .search__button {
        margin: auto auto 16px auto;
        max-width: 288px;
        min-height: 54px;
        flex-grow: 3;
        z-index: 1;

    }
}
