@import url('./__title/search__title.css');
@import url('./__text/search__text.css');
@import url('./__button/search__button.css');
@import url('./__input/search__input.css');
@import url('./__form/search__form.css');

.search{
    margin: 80px auto 0 auto;
    max-width: 608px;
}

.search-error{
    position: relative;
    background: #FFFFFF;
    padding: 5px;
    border-radius: 8px;
    margin: 0px auto 0 18px;
    width: max-content;
    font-family: Inter,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF0000;
    z-index: 2;
}


.search-error.search-error_none{
    display: none;
}




@media screen  and (min-width: 760px) and (max-width: 1023px){
    .search{
        max-width: 448px;
        margin: 38px auto;
    }


}

@media screen and (max-width: 759px){
    .search{
        margin: 30px auto 0px auto;

    }
    .search-error{
        display: block;
        max-width: 250px;
        width: 100%;
        margin:  0 auto 0 auto;
    }
}


