.popup__content_margin {
    margin-top: 150px;
    padding: 34px 36px 28px 36px;
}


@media screen  and (min-width: 760px) and (max-width: 1023px) {
    .popup__content_margin {
        margin-top: 250px;
    }
}


@media screen and (max-width: 538px) {
    .popup__content_margin {
        margin-top: 56px;
    }
}

