.results-card__log-in{
    position: absolute;
    min-height: 40px;
    width: 182px;
    left: 149px;
    top: 24px;
    border-radius: 10px;
    background-color: #FFFFFF;
    font-family: Roboto, Inter, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}
