

.results-card__image{
    position: relative;
    margin-bottom: 15px;
    max-width: 400px;
    height: 272px;
    z-index: 1;
    overflow: hidden;
}

@media screen  and (min-width: 760px) and (max-width: 1024px){
    .results-card__image{
        height: 150px;

    }
}

@media screen and (max-width: 760px){
    .results-card__image{
        max-height: 196px;
    }
}

