

.logo__text{
    font-family: Roboto Slab,sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: white;
    box-sizing: border-box;
    border:sienna solid 2px;
}


/*@media screen  and (min-width: 768px) and (max-width: 1023px){*/
/*    .logo__text{*/
/*    }*/
/*}*/

@media screen  and (min-width: 320px) and (max-width: 759px){
    .logo__text{
        font-size: 16px;
        text-align: left;
        margin: 0;

    }
}
