

.header{
    position: relative;
    max-width: 1440px;
    width: 100%;
    min-height: 576px;
    margin: auto;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:50%;
    background-image: url('../../images/header-background.png');
    box-sizing: border-box;

}
@media screen  and (min-width: 760px) and (max-width: 1023px){
    .header{
        min-height: 400px;
        background-image: url('../../images/backgrond-header-768.png');
    }
}

@media screen  and (min-width: 300px) and (max-width: 759px){
    .header{
        min-height: 536px;
        background-image: url('../../images/background-head-320.png');

}

}
